.form-control:focus {
    border-color: #413e3e;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.product-card {
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}